.container {
    min-width: 1170px;
}

@media (min-width: 768px) and (max-width: 992px) {
.container {
    min-width: 970px;
}
}

@media (min-width: 500px) and (max-width: 768px) {
    .container {
        min-width: 550px;
    }
}

:root {
    --text-color: #333333;
    --hover-color: #ffa200;
    --description-text-color: #898989;
    --footer-text-color: #acacac;
}